<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>remoteIoUnit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>328C835B1CEEF0BA00F06ED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>328C83741CEEF0BA00F06ED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>328C837F1CEEF0BA00F06ED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
